@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
